$white: #ffffff;
$light-gray: #a7a7a7;
$gray: #808080;
$dark-gray: #424242;
$accent: #03afc2;
$dark-blue: #223843;
$blue1: #087299;
$blue2: #064e68;
$black: #000000;

$text-primary: $black;
$text-secondary: $dark-gray;

